# Variables globales para Docker Compose

# Configuración de la base de datos
POSTGRES_USER=user
POSTGRES_PASSWORD=pass
POSTGRES_DB=dashboard

# Puertos de los servicios
BACKEND_PORT=3001
FRONTEND_PORT=3000

# URL de conexión que usará Prisma dentro del backend
DATABASE_URL=postgresql://olist_user:olist_pass@db:1234/olist_dashboard
